<div class="container" id="casualcards">
    <div class="card-deck">

        <!-- //image starting -->
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            
            <a href="displaypage.html">    <img class="card-img-top"style=" padding-top: 15px; " id="img1" src="https://tshop.r10s.com/33d/138/a207/9615/b037/8127/6e73/1194e993ec0242ac110006.jpg" 
                (click)="display(id)" height="260px" width="280px">
                <!-- change here the tittle -->
                <p id="title" data-toggle="tooltip">PUMA</p>   
            </a>
            <!-- copy this 2 paras and paste by changing price,votes, star-rating value -->
            <p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 7,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="4.5" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>

                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>
        <!-- image ending -->

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://www.dhresource.com/0x0/f2/albu/g5/M00/19/17/rBVaJFl6TqeAVdrDAAJndxt6L6k515.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">FILA</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 5,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">5,682</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="4" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://rogansshoes.com/data/default/images/catalog/385/AD_BB4571_XRD1.JPG" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">ROGAN</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 7,4999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">3,456</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="4" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://rogansshoes.com/data/default/images/catalog/385/AD_AC8329_NVY1.JPG
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">REEBOK</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 8,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">7,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="5" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
            <a> <img class="card-img-top" style=" padding-top: 15px;" src="https://5.imimg.com/data5/ZR/DT/WW/SELLER-31007509/black-and-white-striped-flip-flops-500x500.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">ADIDAS</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 4,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">6,098</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="3.5" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://tshop.r10s.com/2c2/097/6b9a/5e68/d02e/bb30/77d2/1106e8869f2c600c737442.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">LEE COOPER</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 8,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">7,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="4.7" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>
       
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
               <a href="displaypage.html">  <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB1__M2bBWD3KVjSZFsq6AqkpXay/Summer-British-flip-flops-men-s-Korean-slippers-male-wear-non-slip-clips-tow-beach-shoes.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">UNDER ARMOUR</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 9,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">8,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="5" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://content.adidas.co.in/static/Product-AQ3936/Men_SWIM_SLIDES_AQ3936_1.jpg" height="260px" width="280px">
                <p id="title" data-toggle="tooltip">SOLE THREADS</p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 2,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,582</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="3" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
              <a href="displaypage.html">   <img class="card-img-top" style=" padding-top: 15px;" src="https://i.ebayimg.com/images/g/z-cAAOSwiZZbnY5w/s-l640.jpg
                " height="260px" width="280px">
                <p id="title" data-toggle="tooltip">CROCS/p>
            </a>
	<p style="color: white; text-align: left; font-family: Verdana, Geneva, Tahoma, sans-serif;">Rs 1,999  
                    <i class="fa fa-thumbs-o-up" aria-hidden="true" style="padding-top: 7px;">1,080</i>
            </p> 
            <p style="color: whitesmoke; text-align: left;">Size 
                    <select id="size">
                        <option >6 UK</option>
                        <option >7 UK</option>
                        <option >8 UK</option>
                        <option >9 UK</option>
                        <option >10 UK</option>
                    </select>
                <star-rating value="4.5" totalstars="5" checkedcolor="orange" uncheckedcolor="white" size="24px" 
                style="display: inline-block; padding-left: 45px;"></star-rating>
            </p>
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>