<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="card" style="height: 50%; width: 50%;"  >
              <a routerLink="mencasualshoes"> <img  id="casualshoes" src="https://previews.123rf.com/images/olgaarkhipenko/olgaarkhipenko1908/olgaarkhipenko190800071/128392949-close-up-yellow-men-s-work-boots-from-natural-nubuck-leather-on-wooden-white-background-trendy-casua.jpg"
                                     height="50%" width="50%">           
                                     <p style="display: inline-block;" id="casualshoes">Casual Shoes</p>
            </a>
            </div>
           
        <div class="card"  style="height: 50%; width: 50%;"  >
             <a routerLink="menformalshoes">  <img  id="formalshoes" src="https://www.dhresource.com/0x0/f2/albu/g6/M00/3C/7F/rBVaSFrYIMaALWotAAHLvRp_V_4602.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="formalshoes">Formal Shoes</p>
               
            </a>
            </div>
        <div class="card" style="height: 50%; width: 50%;"   >
            <a routerLink="mensportsshoes">   <img  id="sportsshoes" src="https://img.looksgud.com/upload/item-image/2280/1cw0l/1cw0l-ads-orange-mesh-light-weight-comfortable-sports-shoes_300x300_0.jpg"
                                    height="50%" width="50%">
            <p style="display: inline-block;" id="sportsshoes">Sports Shoes</p>
               
            </a>
            </div>
    </div>
</div>

<br>
<div class="container" id="casualcards">
    <div class="card-deck">

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top"style=" padding-top: 15px; " src="https://imgaz1.chiccdn.com/thumb/large/oaupload/newchic/images/71/92/c7bebb6c-ebdb-45a1-acfa-f0986dacaae3.jpg" height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">Men Leather Flat Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://img1.cfcdn.club/fc/d0/fcc70398e894af8e1d892fb79164ebd0_350x350.jpg" height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">Men Leather Casual Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://lh3.googleusercontent.com/proxy/jEOLLtOcICmcvcNiUi5_KxBXsHWOn7DIXKemtX0O5L0fD-bsj5yyOW-dxKL0l2uj5n8D11M1iZX7Go46GP53vKo48BjMavw2y4DQ-8SFD2dv7bkm97od" height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">China Men Casual Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://www.bestmassmarkets.com/media/catalog/product/cache/1/image/650x/040ec09b1e35df139433887a97daa66f/n/e/new-casual-shoes-men-comfortable-summer-sneakers-men-2019-breathable-mesh-sport-lace-up-light-fashion.jpg
                " height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">China Men Casual Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://s3.ap-south-1.amazonaws.com/www.cimg.in/images/2019/07/17/54/163367156_15633554722_large.png" height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">China Men Casual Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>

        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px;" >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://images-na.ssl-images-amazon.com/images/I/71Yivo1pI%2BL._UL1500_.jpg" height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">China Men Casual Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>
       
        <div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://image.made-in-china.com/202f0j00GwKtWlHdARgm/High-Quality-Stylish-Breathable-Durable-Men-Running-Shoes-for-Sport.jpg
                " height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">China Men Casual Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://ae01.alicdn.com/kf/HTB12L0oXRCw3KVjSZFlq6AJkFXae/Men-s-Work-Safety-Shoes-Steel-Toe-Cap-Shoes-Fashion-Sneakers-Breathable-Work-Safety-Boots-Anti.jpg" height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">China Men Casual Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div><div class="card mb-5" style="min-width: 30%; min-height: 30%; width: 300px; height: 500px; "  >
            <div class="container" style="height: 100%; width: 100%; background-color: black;">
                <img class="card-img-top" style=" padding-top: 15px;" src="https://s3.ap-south-1.amazonaws.com/www.cimg.in/images/2019/07/17/54/163367156_15633554721_large.png
                " height="260px" width="280px">
                <p style="text-align: center; padding-top: 2px;" data-toggle="tooltip">China Men Casual Shoe</p>
            
                <button class="btn btn-success card-img-top mb-2" (click)="buy(i)">Buy</button>
                <button class="btn btn-warning card-img-top mb-2" (click)="addItem(i)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>