<div class="container" id="cards">
    <div class="card-deck">
       
        <div class="col-sm-3"  >
              <a routerLink="kshoes"> <img  id="kshoes" src="https://media.istockphoto.com/photos/word-autism-with-kids-shoes-on-wooden-background-picture-id910211500?k=6&m=910211500&s=170667a&w=0&h=hl2Gu7Ax5ijYqElTdVI7sQyHlgGzhn3FtCGeh5YZdgk="
                                     height="100%" width="100%">           
                <p>Shoes</p>
            </a>
            </div>

        <div class="col-sm-3"  >
             <a routerLink="ksandals">  <img  id="ksandals" src="https://ae01.alicdn.com/kf/HTB13hUNXorrK1RkSne1q6ArVVXag.jpg_q50.jpg"
                                    height="100%" width="100%">
                <p>Sandals</p>
            </a>
            </div>
        
        <div class="col-sm-3" >
             <a routerLink="ksocks">  <img  id="ksocks" src="https://www.cozzoo.com/1644115-large_default/0-3-5-years-baby-girl-socks-newborn-winter-cute-cartoon-short-sock-combed-cotton-soft-breathable-baby-girls-boys-sock-2-pairs.jpg" 
                                    height="100%" width="100%">
               <p>Socks</p>
            </a>
            </div>
        
    </div>
</div>
<br><br><br><br>
